body
{
    background-image: url("wallpapersden.com_k-spider-man-costume-2020-digital_3840x2160.jpg");
    background-position: center;
    background-size: cover;
	color: white;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}

a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}

canvas{
	background-color: aliceblue;
}